:root {
    --primary-color: #e62e1c;
    --primary-color-dark: #a11e12;
    --secondary-color: #2e100d;
    --dark-color: #111;
    --text-color: #fff;
    --text-faded: #aaa;
    --font-main: Arial, Tahoma, Geneva, Verdana, sans-serif; /* TODO: package a font */
}

* {
    font-family: var(--font-main);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    background-color: black;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    flex-direction: column;
}

.center-text {
    text-align: center;
}

.margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.small-text {
    font-size: 0.9rem;
    color: var(--text-faded);
}

/* HEADER */

header, footer {
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 900px) {
    .header-content {
        align-items: center;
        flex-direction: column;
    }
}

.logo {
    width: 150px;
    height: 100px;
    background-image: url("images/movartex-transparent.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

/* NAVIGATION */

nav {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

nav a {
    color: white;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 20px 0;
    position: relative;
}

nav a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    transition: width 0.2s;
}

nav a:hover:after, nav a.selected:after {
    width: 100%;
}

.lang-select {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px;
}

.lang-icon {
    width: 20px;
    height: 15px;

    cursor: pointer;

    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.lang-it { background-image: url("images/it.svg"); }
.lang-sl { background-image: url("images/sl.svg"); }
.lang-en { background-image: url("images/en.svg"); }

/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

section:nth-of-type(odd), main {
    background-color: #000;
}

section:nth-of-type(odd) .card, main .card {
    background-color: var(--dark-color);
}

section:nth-of-type(even) {
    background-color: var(--dark-color);
}

section:nth-of-type(even) .card {
    background-color: #000;
}

/* CARDS */

.card {
    padding: 1.5rem;
    border-radius: 10px;
    break-inside: avoid;
}

.card .icon {
    width: 60px;
    height: 60px;
    margin: auto;
    color: var(--primary-color);
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.card .icon i {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.card h3 {
    font-size: 1.5rem;
}

.card h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

.card h4 i {
    color: var(--primary-color);
    margin-right: 1rem;
}


.card p {
    color: var(--text-faded);
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

.card p span {
    color: var(--text-faded);
}

.icon-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.news-date {
    color: var(--primary-color);
    font-size: 0.9rem;
}

.learn-more {
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 600;
}

.learn-more i {
    color: var(--primary-color);
    margin-left: 0.5rem;
}

/* MAIN */

main {
    min-height: 90vh;
}

main h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--primary-color);
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

section {
    padding: 40px 0;
}

section h2, main h2 {
    font-size: 2.5rem;
    margin: 1rem 0 3rem 0;
    text-align: center;
}

p {
    line-height: 1.5;
}

.dancers {
    background-image: url("images/dancers-grayscale-2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
}

.map {
    width: 100%;
    height: 50vh;
}

.social {
    display: flex;
    gap: 0.5rem;

    i {
        color: var(--primary-color);
        font-size: 1.5rem;
        transition: color 0.2s;
        padding: 0.5rem;

        &:hover {
            color: var(--primary-color-dark);
        }
    }
}

/* FOOTER */

footer .footer-text {
    padding: 20px;
    color: #999;
    font-size: 0.9rem;
    line-height: 1.5;

    * {
        color: inherit;
    }
}

footer > :first-child {
    border-top: 1px solid #333;
}

footer .social i {
    color: var(--primary-color-dark);
}

footer .social i:hover {
    color: var(--primary-color);
}

/* FLOATS */

.clearfix {
    overflow: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.image {
    max-width: 500px;
    max-height: 500px;
}

/* SCHEDULE */

select.select-location {
    color: var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--text-color);
    background: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 1.5rem;
    appearance: none;

    transition: border-color 200ms;
    outline: none;

    &:hover, &:focus {
        border-color: var(--primary-color);
    }

    option {
        font-size: initial;
        color: initial;
    }
}

.schedule-container {
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.schedule-grid {
    display: grid;
    grid-template-columns: 80px repeat(5, 1fr);
    gap: 1px;
    background-color: #333;
    border-radius: 5px;
    overflow: auto;
}

.schedule-header {
    background-color: var(--primary-color);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.time-slot {
    grid-column: 1;
    z-index: 1;
    background-color: black;
    color: var(--text-faded);
    border-right: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.sticky-left {
    position: sticky;
    left: 0;
}

.schedule-item {
    color: white;
    padding: 10px;
    border: 1px solid var(--dark-color);
    border-radius: 5px;
    text-align: center;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    box-sizing: border-box;
    min-height: 100%;
}

.schedule-item-name {
    font-weight: bold;
}

.schedule-item-time,
.schedule-item-location {
    font-weight: normal;
    font-size: 0.9rem;
    opacity: 0.8;
}

/* ICONS */

@font-face {
    font-family: "fa-subset";
    src:  url("images/fa-subset.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "fa-subset" !important;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-transform: none;
    text-rendering: auto;
}

.fa-clock:before { content: "\e900"; }
.fa-envelope:before { content: "\e901"; }
.fa-map-marker-alt:before { content: "\e902"; }
.fa-phone-alt:before { content: "\e903"; }
.fa-share-nodes:before { content: "\e904"; }
.fa-arrow-right:before { content: "\e905"; }
.fa-facebook:before { content: "\e906"; }
.fa-instagram:before { content: "\e907"; }
.fa-tiktok:before { content: "\e908"; }

/* PRINT */

@media print {
    * {
        background-color: revert !important;
        color: black !important;
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .container {
        border-top: 1px solid black;
    }

    header,
    footer .social,
    .map
    {
        display: none !important;
    }

    main {
        min-height: 20vh;
    }

    .dancers {
        background: none;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 1rem;
    }

    .icon-image {
        width: 150px;
        height: 150px;
    }
}
